/chapter8/DeepLearning Image Captcha/dataset/
chapter8/DeepLearning Image Captcha/model.pkl
chapter11/ScrapeSpa7/node_modules/

chapter11/ScrapeSpa7/package-lock.json
chapter11/ScrapeSpa7/package.json
